<%- include('partials/Header') %>

 <section class="hero" id="home">
    <main class="content">
        <h1>masih dalam develope</h1>
        <p>masih dalam pembuatan</p>
        <a href="#" class="cta">Tekan</a>

    </main>
 </section>

<%- include('partials/Footer') %>